extends layout

block content
  .col-lg-12
    h1= title
    p Welcome to #{title}
    .panel.panel-poke
      .panel-heading
        | Try it now!
      .panel-body
        .input-group
          span.input-group-addon http://localhost:3000/api/
          input#interactive.form-control(type='text', placeholder='')
          span.input-group-btn
            button.btn.btn-primary(onclick='tri.interactive_call();return false;') request
        small
          | Need a hint? try
          a(href='#', onclick="tri.update('users/');return false;")
            i users/
          |  or
          a(href='#', onclick="tri.update('locations/');return false;")
            i locations/
          |  or
          a(href='#', onclick="tri.update('roles/');return false;")
            i roles/
        p.lead.pad_top Result:
        .well
          pre.pre-scrollable
            code#interactive_output.json.hljs

        .col-sm-2.col-lg-2.col-md-2
    .panel.panel-poke
      .panel-heading
        | API Documentation
      .panel-body
        h4 Users
        h5 GET api/users/
        pre
          code.json.
            {
                "status": 200,
                "data": [
                    {
                        "role": "{{role.id}}",
                        "_id": "{{user.id}}",
                        "__v": 0,
                        "local": {
                            "password": "{{hashed password}}",
                            "email": "{{local.email}}"
                        }
                    }
                ],
                "message": "ok"
            }
        h5 GET api/users/{ID}
        pre
          code.
            {
                "status": 200,
                "data": {
                    "role": {
                        "name": "{{role.name}}",
                        "_id": "{{role.id}}",
                        "__v": 0
                    },
                    "_id": "{{user.id}}",
                    "__v": 0,
                    "local": {
                        "password": "{{hashed password}}",
                        "email": "{{local.email}}"
                    }
                },
                "message": "ok"
            }

        h5 GET api/users/{ID}/pokemon
        pre
          code.
            {
                "status": 200,
                "data": [
                    {
                        "name": "{{pokemon.name}}",
                        "pokeid": "{{pokemon.pokeid}}",
                        "caught_at": "Date.now()",
                        "_id": "{{pokemon.id}}"
                    }
                ],
                "message": "ok"
            }
        h4
          | Locations
        h5 GET api/locations/
        pre
          code.
            {
                "status": 200,
                "data": [
                    {
                        "_id": "{{location.id}}",
                        "pokeid": 25,
                        "__v": 0,
                        "latlng": {
                            "lat": {{lat}},
                            "lng": {{lng}}
                        }
                    }
                ],
                "message": "ok"
            }

    script.
      hljs.initHighlightingOnLoad();
