extends layout

block content
  .col-lg-12
    h1= title
    p Welcome to #{title}
    .panel.panel-poke
      .panel-heading
        | Try it now!
      .panel-body
        .input-group
          span.input-group-addon http://localhost:3000/api/
          input#interactive.form-control(type='text', placeholder='')
          span.input-group-btn
            button.btn.btn-primary(onclick='interactive_call();return false;') request
        small
          | Need a hint? try
          a(href='#', onclick="update('users/');return false;")
            i users/
          |  or
          a(href='#', onclick="update('locations/');return false;")
            i locations/
          |  or
          a(href='#', onclick="update('somethingcool');return false;")
            i somethingcool
        p.lead.pad_top Result:
        .well
          pre#interactive_output.pre-scrollable.

        .col-sm-2.col-lg-2.col-md-2
    .panel.panel-poke
      .panel-heading
        | API Documentation
      .panel-body
        h4 Users
        p
          | users bla bla bla
        h5 GET api/users/
        pre
          code.
            {
                "status": 200,
                "data": [
                    {
                        "role": "56eaad7d0e8cf1f63c36117d",
                        "_id": "56eaae200e8cf1f63c361180",
                        "__v": 0,
                        "local": {
                            "password": "$2a$08$RRFRVjYiMKjrL3oU/R3SCeSXU89kSb1r3F3hr3G9QnH.m8tsZpgpe",
                            "email": "chris@poole.chan"
                        }
                    },
                    {
                        "role": "56eaad7d0e8cf1f63c36117d",
                        "_id": "56ec0ad8303f42090be4722e",
                        "__v": 0,
                        "local": {
                            "password": "$2a$08$DVp/QyEQeuQVaLua6PJKLejXAeWufJpG87oHJXFe5nj9WN/8nhgkm",
                            "email": "chris2@poole.chan"
                        }
                    }
                ],
                "message": null
            }
        h5 GET api/users/{ID}
        pre
          code.
            {
                "status": 200,
                "data": {
                    "role": {
                        "name": "moot",
                        "_id": "56eaad7d0e8cf1f63c36117d",
                        "__v": 0
                    },
                    "_id": "56eaae200e8cf1f63c361180",
                    "__v": 0,
                    "local": {
                        "password": "$2a$08$RRFRVjYiMKjrL3oU/R3SCeSXU89kSb1r3F3hr3G9QnH.m8tsZpgpe",
                        "email": "chris@poole.chan"
                    }
                },
                "message": null
            }
        h4
          | Locations
        p
          | Locations bla bla
        h5 GET api/locations/
        pre
          code.
            {
              "username": "Ash",
              "password": "P@ssword",
              "Pokemons": [
                {
                    "lvl": "100",
                    "description": "pokemon",
                    "PokeID": "151",
                }
              ],

            }

